@model Slide 
    <div class="card">
    <img src="~/assets/images/slider/@Model.SlideImageUrl" class="card-img-top" alt="@Model.Title">
  <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.SubTitle</p>
        <p class="card-text">@Model.Description</p>
    
  </div>
</div>
    
